@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto Mono", monospace;
}
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span::after {
  background-color: #fff !important;
}

.rdrDayToday .rdrDayNumber span::after {
  background: #106cd8;
}

.rdrMonthAndYearPickers {
  font-size: 16px;
}

.rdrDayNumber,
.rdrWeekDay {
  color: #1e1f23 !important;
  font-weight: 500 !important;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    left: 0;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-accent  hover:bg-accent-hover;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-white;
  }
  body {
    @apply text-primary bg-body font-sans;
  }
  p {
    @apply text-secondary;
  }
  .h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }
  .h2 {
    @apply text-4xl font-bold mb-6;
  }
  .h3 {
    @apply text-xl font-semibold mb-4;
  }
  .description {
    @apply text-base xl:text-xl xl:leading-8;
  }
  .section {
    @apply w-full h-screen pt-[60px] xl:pt-[120px];
  }
  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center duration-300;
  }
  .btn-sm {
    @apply h-14;
  }
  .btn-lg {
    @apply h-16;
  }
  .btn-cta {
    @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300;
  }
  .btn-primary {
    @apply bg-primary;
  }
  .btn-secondary {
    @apply bg-secondary;
  }
  .btn-accent {
    @apply bg-accent hover:bg-accent-hover;
  }
  .active {
    @apply text-accent-hover;
  }
}
